@font-face {
  font-family: 'Leroy Merlin Icons';
  src: url('//res.cloudinary.com/lmru/raw/upload/fonts/lm.eot');
  src: url('//res.cloudinary.com/lmru/raw/upload/fonts/lm.eot#iefix') format('embedded-opentype'),
  url('//res.cloudinary.com/lmru/raw/upload/fonts/lm.ttf') format('truetype'),
  url('//res.cloudinary.com/lmru/raw/upload/fonts/lm.woff') format('woff'),
  url('//res.cloudinary.com/lmru/raw/upload/fonts/lm.svg#lm') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lm {
  font-family: 'Leroy Merlin Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.lm-stack-2x {
  font-size: 2em;
}

.lm-stack-1x {
  line-height: inherit;
}

.lm-stack-07x {
  font-size: 0.7em;
}

.lm-stack-2x,
.lm-stack-1x,
.lm-stack-07x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.lm-spin {
  -webkit-animation: lm-spin 2s infinite linear;
  animation: lm-spin 2s infinite linear;
}

.lm-pulse {
  -webkit-animation: lm-spin 1s infinite steps(8);
  animation: lm-spin 1s infinite steps(8);
}

@-webkit-keyframes lm-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes lm-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.icon-cash:before {
  content: "\ea0b";
}
.icon-credit-card-2:before {
  content: "\ea0c";
}
.icon-blocks:before {
  content: "\ea08";
}
.icon-clock-face .path1:before {
  content: "\ea09";
}
.icon-clock-face .path2:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cloud-of-comment:before {
  content: "\e9fc";
}
.icon-point-to-map:before {
  content: "\e9fd";
}
.icon-coins:before {
  content: "\e9fe";
}
.icon-hand-saw:before {
  content: "\e9ff";
}
.icon-brush:before {
  content: "\ea02";
}
.icon-sewing-machine:before {
  content: "\ea03";
}
.icon-drill:before {
  content: "\ea04";
}
.icon-home-and-tools:before {
  content: "\ea05";
}
.icon-persons:before {
  content: "\ea06";
}
.icon-cloud-of-issue:before {
  content: "\ea07";
}
.icon-house-other:before {
  content: "\ea0f";
}
.icon-arrow-back-material:before {
  content: "\ea00";
}
.icon-link-arrow:before {
  content: "\ea01";
}
.icon-house:before {
  content: "\e9fa";
}
.icon-construction-tool:before {
  content: "\e9fb";
}
.icon-time-ago:before {
  content: "\e9f9";
}
.icon-moneys:before {
  content: "\e9f8";
}
.icon-pen-2:before {
  content: "\e9f7";
}
.icon-delivery-foot:before {
  content: "\e9e8";
}
.icon-phone-2:before {
  content: "\e9e9";
}
.icon-whatsup:before {
  content: "\e9ea";
}
.icon-telegram:before {
  content: "\e9eb";
}
.icon-sort-4:before {
  content: "\e9ec";
}
.icon-compas:before {
  content: "\e9ed";
}
.icon-phone-5:before {
  content: "\e9ee";
}
.icon-clock-2:before {
  content: "\e9ef";
}
.icon-phone-6:before {
  content: "\e9f0";
}
.icon-personal-card:before {
  content: "\e9f1";
}
.icon-delivery-car:before {
  content: "\e9f2";
}
.icon-delivery-carry:before {
  content: "\e9f3";
}
.icon-pin:before {
  content: "\e9f4";
}
.icon-map-pin:before {
  content: "\e9f5";
}
.icon-mobile-shops:before {
  content: "\e9f6";
}
.icon-printing-tool:before {
  content: "\e9e7";
}
.icon-stairs:before {
  content: "\e9e3";
}
.icon-doorway:before {
  content: "\e9e4";
}
.icon-doorway-2:before {
  content: "\e9e5";
}
.icon-elevator:before {
  content: "\e9e6";
}
.icon-swipe:before {
  content: "\e9e1";
}
.icon-rotate:before {
  content: "\e9e2";
}
.icon-user-menu:before {
  content: "\e9e0";
}
.icon-done-2:before {
  content: "\e9de";
}
.icon-edit:before {
  content: "\e9df";
}
.icon-calc-gear:before {
  content: "\e9d6";
}
.icon-calc-ent:before {
  content: "\e9da";
}
.icon-calc-win:before {
  content: "\e9db";
}
.icon-calc-pers:before {
  content: "\e9dc";
}
.icon-pryamoskat:before {
  content: "\e9dd";
}
.icon-konvert:before {
  content: "\e9d1";
}
.icon-dvuskat:before {
  content: "\e9d2";
}
.icon-nemnogoskat:before {
  content: "\e9d3";
}
.icon-mnogoskat:before {
  content: "\e9d4";
}
.icon-odnoskat:before {
  content: "\e9d5";
}
.icon-360:before {
  content: "\e9d0";
}
.icon-scales:before {
  content: "\e9c7";
}
.icon-enter:before {
  content: "\e9c8";
}
.icon-libre:before {
  content: "\e9c4";
}
.icon-delivery-4:before {
  content: "\e9c5";
}
.icon-fine-badge:before {
  content: "\e9c6";
}
.icon-phone-app:before {
  content: "\e9a8";
}
.icon-chat-speech-bubbles:before {
  content: "\e9a9";
}
.icon-group-2:before {
  content: "\e9aa";
}
.icon-user-2:before {
  content: "\e9ab";
}
.icon-like:before {
  content: "\e9ac";
}
.icon-share:before {
  content: "\e9ad";
}
.icon-opened-eye:before {
  content: "\e9ae";
}
.icon-wallet-1:before {
  content: "\e9af";
}
.icon-user:before {
  content: "\f007";
}
.icon-download:before {
  content: "\f019";
}
.icon-heart:before {
  content: "\e906";
}
.icon-star-half:before {
  content: "\e90b";
}
.icon-heart-o:before {
  content: "\e90c";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-circle-o:before {
  content: "\e90d";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-rouble:before {
  content: "\e90e";
}
.icon-rub:before {
  content: "\e90e";
}
.icon-ruble:before {
  content: "\e90e";
}
.icon-youtube-play:before {
  content: "\e90f";
}
.icon-dot-circle-o:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e952";
}
.icon-barcode:before {
  content: "\e953";
}
.icon-qrcode:before {
  content: "\e954";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half2:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-store:before {
  content: "\e9c0";
}
.icon-check:before {
  content: "\e9c1";
}
.icon-download-2:before {
  content: "\e9c2";
}
.icon-list-4:before {
  content: "\e9c3";
}
.icon-pen:before {
  content: "\e908";
}
.icon-car2:before {
  content: "\e909";
}
.icon-nalog:before {
  content: "\e90a";
}
.icon-list3:before {
  content: "\e99f";
}
.icon-personal-data:before {
  content: "\e998";
}
.icon-phone:before {
  content: "\e999";
}
.icon-share_o:before {
  content: "\e99a";
}
.icon-shop-list:before {
  content: "\e99b";
}
.icon-watch:before {
  content: "\e99c";
}
.icon-d:before {
  content: "\e99d";
}
.icon-clock:before {
  content: "\e99e";
}
.icon-marker2:before {
  content: "\e9a0";
}
.icon-paper:before {
  content: "\e9a1";
}
.icon-linkedin:before {
  content: "\e995";
}
.icon-youtube-v:before {
  content: "\e996";
}
.icon-vk:before {
  content: "\e997";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-vkontakte:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-odnoklassniki:before {
  content: "\e905";
}
.icon-circle-info:before {
  content: "\e9c9";
}
.icon-circle:before {
  content: "\e98d";
}
.icon-circle-done:before {
  content: "\e96e";
}
.icon-circle-minus:before {
  content: "\e96f";
}
.icon-circle-cross:before {
  content: "\e970";
}
.icon-play2:before {
  content: "\e955";
}
.icon-circle-close:before {
  content: "\e911";
}
.icon-circle-play:before {
  content: "\e912";
}
.icon-circle-help:before {
  content: "\e913";
}
.icon-circle-done2:before {
  content: "\e914";
}
.icon-circle-time:before {
  content: "\e915";
}
.icon-circle-volume:before {
  content: "\e916";
}
.icon-close-circle:before {
  content: "\e917";
}
.icon-circle-google-map:before {
  content: "\e918";
}
.icon-circle-metro:before {
  content: "\e919";
}
.icon-circle-options:before {
  content: "\e91a";
}
.icon-circle-phone:before {
  content: "\e91b";
}
.icon-circle-smile:before {
  content: "\e91c";
}
.icon-arrow-back-2:before {
  content: "\e9cf";
}
.icon-alarm:before {
  content: "\e9ca";
}
.icon-basket-merge-2:before {
  content: "\e9b0";
}
.icon-mobile-lk:before {
  content: "\e9a3";
}
.icon-mobile-map:before {
  content: "\e9a4";
}
.icon-icon-print:before {
  content: "\e926";
}
.icon-feedback-sticky:before {
  content: "\e974";
}
.icon-search-top:before {
  content: "\e994";
}
.icon-checkbox:before {
  content: "\e98e";
}
.icon-button-o:before {
  content: "\e98f";
}
.icon-exclamation2:before {
  content: "\e972";
}
.icon-checkbox-active:before {
  content: "\e97f";
}
.icon-checkbox-unactive:before {
  content: "\e973";
}
.icon-tri-up:before {
  content: "\e975";
}
.icon-tri-down:before {
  content: "\e976";
}
.icon-tri-right:before {
  content: "\e977";
}
.icon-tri-left:before {
  content: "\e978";
}
.icon-close2:before {
  content: "\e979";
}
.icon-ar2-left:before {
  content: "\e97a";
}
.icon-ar2-right:before {
  content: "\e97b";
}
.icon-ar2-up:before {
  content: "\e97c";
}
.icon-ar2-down:before {
  content: "\e97d";
}
.icon-basket-merge:before {
  content: "\e97e";
}
.icon-ugolok:before {
  content: "\e91d";
}
.icon-card:before {
  content: "\e91e";
}
.icon-basket:before {
  content: "\e91f";
}
.icon-basket-time:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e921";
}
.icon-close-2:before {
  content: "\e922";
}
.icon-close-3:before {
  content: "\e923";
}
.icon-done:before {
  content: "\e924";
}
.icon-play-3:before {
  content: "\e925";
}
.icon-print-2:before {
  content: "\e927";
}
.icon-print-3:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
.icon-sort-3:before {
  content: "\e92a";
}
.icon-add-shopping-list:before {
  content: "\e92b";
}
.icon-letter:before {
  content: "\e92c";
}
.icon-electricity:before {
  content: "\e9b1";
}
.icon-gas:before {
  content: "\e9b2";
}
.icon-liq-gas:before {
  content: "\e9b3";
}
.icon-pellet:before {
  content: "\e9b4";
}
.icon-type-diagonal:before {
  content: "\e9b5";
}
.icon-type-straight:before {
  content: "\e9b6";
}
.icon-wood:before {
  content: "\e9b7";
}
.icon-coal:before {
  content: "\e9b8";
}
.icon-diesel:before {
  content: "\e9b9";
}
.icon-door-1:before {
  content: "\e9ba";
}
.icon-door-2:before {
  content: "\e9bb";
}
.icon-wall:before {
  content: "\e92d";
}
.icon-yaschiki:before {
  content: "\e956";
}
.icon-battery:before {
  content: "\e957";
}
.icon-kran:before {
  content: "\e958";
}
.icon-stroika:before {
  content: "\e959";
}
.icon-tachka:before {
  content: "\e95a";
}
.icon-zaliv-pol:before {
  content: "\e95b";
}
.icon-zatirka:before {
  content: "\e95c";
}
.icon-can:before {
  content: "\e95d";
}
.icon-kamni:before {
  content: "\e95e";
}
.icon-kladka:before {
  content: "\e95f";
}
.icon-pokraska:before {
  content: "\e960";
}
.icon-google-point-3:before {
  content: "\e9cd";
}
.icon-google-point-4:before {
  content: "\e9ce";
}
.icon-pdf-ico:before {
  content: "\e9cb";
}
.icon-basket-2:before {
  content: "\e9cc";
}
.icon-person:before {
  content: "\e9bc";
}
.icon-filter:before {
  content: "\e9a6";
}
.icon-filter-2:before {
  content: "\e9a7";
}
.icon-shop-plus:before {
  content: "\e9a5";
}
.icon-book-and-glasses:before {
  content: "\e9a2";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-map-marker:before {
  content: "\e993";
}
.icon-pickup:before {
  content: "\e971";
}
.icon-removal:before {
  content: "\e990";
}
.icon-del:before {
  content: "\e991";
}
.icon-courier:before {
  content: "\e992";
}
.icon-delivery-5:before {
  content: "\e980";
}
.icon-100-r:before {
  content: "\e981";
}
.icon-sheld-2:before {
  content: "\e982";
}
.icon-reload:before {
  content: "\e983";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-wallet:before {
  content: "\e985";
}
.icon-delivery-6:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e989";
}
.icon-card-2:before {
  content: "\e98a";
}
.icon-qiwi:before {
  content: "\e98b";
}
.icon-star-grey:before {
  content: "\e92e";
}
.icon-transport:before {
  content: "\e92f";
}
.icon-100:before {
  content: "\e930";
}
.icon-bag:before {
  content: "\e931";
}
.icon-calc:before {
  content: "\e932";
}
.icon-car:before {
  content: "\e933";
}
.icon-car-2:before {
  content: "\e934";
}
.icon-circle-clock:before {
  content: "\e935";
}
.icon-credit-card:before {
  content: "\e936";
}
.icon-delivery:before {
  content: "\e937";
}
.icon-delivery-2:before {
  content: "\e938";
}
.icon-globe:before {
  content: "\e939";
}
.icon-google-point:before {
  content: "\e93a";
}
.icon-google-point-2:before {
  content: "\e93b";
}
.icon-delivery-3:before {
  content: "\e93c";
}
.icon-arrow-up:before {
  content: "\e93d";
}
.icon-guard:before {
  content: "\e93e";
}
.icon-heart-2:before {
  content: "\e93f";
}
.icon-instruction:before {
  content: "\e940";
}
.icon-instrumenti:before {
  content: "\e941";
}
.icon-kluch:before {
  content: "\e942";
}
.icon-kopilka:before {
  content: "\e943";
}
.icon-man:before {
  content: "\e944";
}
.icon-map:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e946";
}
.icon-new:before {
  content: "\e947";
}
.icon-open-shop:before {
  content: "\e948";
}
.icon-pdf:before {
  content: "\e949";
}
.icon-saw:before {
  content: "\e94a";
}
.icon-saw-o:before {
  content: "\e94b";
}
.icon-shopping-list:before {
  content: "\e94c";
}
.icon-sign:before {
  content: "\e94d";
}
.icon-arrow-back:before {
  content: "\e9bf";
}
.icon-question:before {
  content: "\e94e";
}
.icon-home:before {
  content: "\e94f";
}
.icon-advice:before {
  content: "\e961";
}
.icon-services:before {
  content: "\e950";
}
.icon-shops:before {
  content: "\e962";
}
.icon-lifebuoy:before {
  content: "\e963";
}
.icon-faq:before {
  content: "\e951";
}
.icon-horizontal-scroll:before {
  content: "\e9bd";
}
.icon-vertical-scroll:before {
  content: "\e9be";
}
.icon-list2:before {
  content: "\e98c";
}
.icon-minus:before {
  content: "\e964";
}
.icon-plus:before {
  content: "\e965";
}
.icon-sort-plitki:before {
  content: "\e966";
}
.icon-sort-small-plitki:before {
  content: "\e967";
}
.icon-list:before {
  content: "\e968";
}
.icon-list-2:before {
  content: "\e969";
}
.icon-sort:before {
  content: "\e96a";
}
.icon-sort-2:before {
  content: "\e96c";
}
.icon-article:before {
  content: "\e96d";
}